* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    font-size: 12px;
    padding: 2.5vh 15vw;
}

#logo-laranja {
    width: 18vw;
    height: 7vh;
}

.menu{
    display: flex;  
    width: 100%;  
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 3vw;
}

.menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu a:hover {
    color: #6510f2; 
}

#area-cliente {
    height: 4.11vh;
    width: 12vw;
    border: 0.1em solid #6510f2;
    border-radius: 1em;
    color: #6510f2; 
    background-color: #fff;
}

#area-cliente:hover {
    color: #fff; 
    border-color: #ED7203;
    background-color: #ED7203; 
    cursor: pointer;
}

#entrar {
    height: 5vh;
    border: none;
    background-color: #fff;
}

#entrar:hover {
    cursor: pointer;
    border: none;
    color: #6510f2; 
    background-color: white;
}

/*MAIN*/
/*inicio*/
.section-inicio {
    background: url(./img/background-inicio.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 82.3vh;
    gap: 2em;
}

.section-inicio p {
    font-size: medium;
    font-weight: 500;
    margin-top: 13vh;
}

.section-inicio h2 {
    font-size: 2em;
    font-weight: 550;
}

.section-inicio #botoes {
    display: flex;
    background-color: rgba(132, 132, 132, 0.5) ;
    width: 15vw;
    height: 6.6vh;
    border-radius: 2em;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.section-inicio #botoes #botao-comprar {
    background-color: white;
    color: #ED7203;
    border: none;
    border-radius: 2em;
    width: 7.5vw;
    height: 5.7vh;
    margin-left: -12%;
    font-size: 1em;
    font-weight: 500;
}

.section-inicio #botoes #botao-alugar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
}

.section-inicio #barra-pesquisa {
    display: flex;
    align-items: center;
    background-color: white;
    width: 45vw;
    height: 10vh;
    border-radius: 2em;
}

.section-inicio #barra-pesquisa div {
    display: flex;
    flex-direction: column;
    height: 6vh;
    width: 16vw;
    margin: 0 auto;
}

.section-inicio #barra-pesquisa button {
    background-color: #ED7203;
    border: none;
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.5vh;
    width: 4vw;
    margin-right: 0.4em;
    cursor: pointer;
}

.section-inicio #barra-pesquisa div div {
    display: flex;
    flex-direction: row;  
    align-items: baseline;
    color: #343a40;
    gap: 0.5em;
}
.section-inicio #barra-pesquisa input {
    border: none;
}

/* contatos*/
.section-contatos {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 15vw;
    background-image:  linear-gradient(#fff, #e8e8e8);    
}

.section-contatos div {
    display: flex;
    height: 5vh;
    align-items: center;
}

.section-contatos p {
    font-size: 0.8em;
    color:  #6c757d;
}

.section-contatos #whatsapp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 0.1em solid #d6d6d6;
    width: 12vw;
    gap: 0.5em;
}

.section-contatos #telefones {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 20vw;    
    border-right: 0.1em solid #d6d6d6;
    gap: 0.5em;
}

.section-contatos #telefones h6 {
 color: #343a40;
}

.section-contatos #endereco {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20vw;
    gap: 0.5em;
}

.section-contatos #logos-paginas {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

/*destaques*/
.section-destaques {
    display: flex;
    flex-direction: column;
    padding: 8vh 15vw;
    gap: 1.5em;
}

.section-destaques div a {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    gap: 5px;
    margin-top: 8px;
}

.section-destaques .card-destaques {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-destaques .card-destaques .card {
    display: flex;
    flex-direction: column;
    height: 48vh;
    width: 16vw;
    border: 0.1em solid  #f3f3f3;
    border-radius: 1em;
    margin-top: 10px;
}

.section-destaques .card-destaques .card img {
    width: 16.1vw;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.section-destaques .card-destaques .card .card-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23vh;
    padding: 1vh 1vw;
}

.section-destaques .card-destaques .card .card-infos p {
    font-size: 0.8em;
}

/*sobre*/
.section-sobre {
    display: flex;
    flex-direction: column;
}

.section-sobre .texto-imagem {
    background-image: linear-gradient(to right,   #f3f3f3, white);
    display: flex;
}

.section-sobre .texto-imagem div {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}

.section-sobre .texto-imagem h1 {
    margin-top: 17vh;
    font-size: 2.5em;
}

.section-sobre .texto-imagem p {
    font-size: 0.9em;
    color: #6c757d;
    text-align: justify;
    margin-top: 3vh;
}

.section-sobre .texto-imagem img {
    width: 50vw;
}

.section-sobre button {
    border: 0.1em solid #642d8f;
    border-radius: 1em;
    height: 7vh;
    max-width: 15vw;
    color: #642d8f;
    background-color: white;
    cursor: pointer;
 }

.section-sobre #cards-sobre {
    display: flex;
    padding: 8vh 15vw;
    justify-content: space-between;
}

.section-sobre #cards-sobre div {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 20vw;
    justify-content: space-evenly;
}

.section-sobre #cards-sobre #div-icone-sobre {
    display: flex;
    align-items: center;
    width: 10vw;
    height: 20vh;
    border-radius: 50% 50%;
    background-image: linear-gradient(to right,  #f3f3f3, white);
}

.section-sobre #cards-sobre h3 {
   color: #343a40;
}

.section-sobre #cards-sobre p {
   color: #6c757d;
   text-align: justify;
}

/*serviços*/
.section-servicos {
    display: flex;
    flex-direction: column;
    padding: 0 15vw;
}

.section-servicos #anunciar-imovel {
    display: flex;
    flex-direction: row;
}

.section-servicos #anunciar-imovel img{
    width: 44vw;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.section-servicos #anunciar-imovel div{
    display: flex;
    flex-direction: column;
    border: 0.1em solid  #e8e8e8;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 2em;
}

.section-servicos #anunciar-imovel div h6 {
    color: #ED7203;
    font-size: small;
}

.section-servicos #anunciar-imovel div h2 {
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: #343a40;
}

.section-servicos button {
    border: 0.1em solid #642d8f;
    border-radius: 1em;
    height: 7vh;
    width: 10vw;
    color: #642d8f;
    background-color: #fff;
    cursor: pointer;
}

.section-servicos #anunciar-imovel div h5 {
   margin-top: 6vh;
   color: #343a40;
}

.section-servicos #cards-servicos {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
}

.section-servicos #cards-servicos div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 50vh;
    margin-top: 10vh;
    text-align: justify;

}

.section-servicos #banner-portugal {
    background: url(./img/poster-portugal.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    width: 100%;
    height: 30vh;
    border-radius: 1em;
}

.section-servicos #banner-portugal h2 {
    color: #fff;
    margin-left: 4vw;
}

.section-servicos #banner-portugal button {
    border: none;
    border-radius: 1em;
    height: 7vh;
    width: 13vw;
    color:  #ED7203;
    font-size: 0.9em;
    background-color: #fff;
    margin-right: 4vw;
    cursor: pointer;
}

/*cultura*/
.section-cultura-bh {
    display: flex;
    justify-content: space-between;
    padding: 10vh 15vw;
}

.section-cultura-bh .card-cultura {
    display: flex;
    flex-direction: column;
    width: 20vw;
    /* height: 50vh; */
    border: 0.1em solid #e8e8e8;
    border-radius: 1em;
}

.section-cultura-bh .card-cultura img {
    width: 20vw;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.section-cultura-bh .card-cultura div {
   display: flex;
   flex-direction: column;
   height: 15vh;
   padding: 1em;
   justify-content: space-between;
}

.section-cultura-bh .card-cultura div p {
    font-size: 0.9em;
    color: #6c757d;
}

/* botão de ação*/
.section-botao-acao {
    background: url(./img/mulher-descansando.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55vh;
    padding: 10vh 15vw;
    color: #fff;
}

.section-botao-acao h2 {
    font-size: 2.7em;
}

.section-botao-acao button {
    border: none;
    border-radius: 1em;
    height: 7vh;
    width: 10vw;
    color: #ED7203;
    background-color: #fff;
    cursor: pointer;
}

/* cultura 2*/
.section-cultura-bh2 {
    display: flex;
    justify-content: space-between;
    padding: 10vh 15vw;
}

.section-cultura-bh2 .card-cultura2 {
    display: flex;
    flex-direction: column;
    width: 33vw;
    border: 0.1em solid #e8e8e8;
    border-radius: 1em;
}

.section-cultura-bh2 .card-cultura2 img {
    width: 33vw;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.section-cultura-bh2 .card-cultura2 div {
   display: flex;
   flex-direction: column;
   padding: 2em;
   justify-content: space-between;
}

.section-cultura-bh2 .card-cultura2 div p {
    font-size: 0.9em;
    color: #6c757d;
}

/*final*/
.section-final {
    display: flex;
    justify-content: space-between;
    background-color: #e8e8e8;
    padding: 3vh 15vw;
}

.section-final div {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.section-final ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.4em;
}

.section-final h4 {
    color:#3b5998;
}

.section-final li {
    color: #6c757d;
    font-size: 0.9em;
    cursor: pointer;
}
.section-final li:hover {
    color: #6510f2;
}

/*footer*/
footer {
    display: flex;
    background-color: #ED7203;
    padding: 2vh 15vw;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 12vw;
    height: 6vh;
}

footer div {
    display: flex;
    flex-direction: column;
    width: 32vw;
    color: #fff;
    font-size: smaller;
    align-items: center;
}

footer div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer #logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12vw;
}

footer #logos i:hover {
    cursor: pointer;
}
